<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequelize</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="container-logo">
            <a href="/">
                <img src="/img/logo.png" alt="Logo">
                <p>Users CRUD</p>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Usuários</a></li>
                <li><a href="/users/create">Criar usuário</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        Footer
    </footer>
</body>

</html>